<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <a href="/sessions/logout">Log Out</a>
    <%if is_logged_in%>
      <p>Welcome, <%= @current_user.username%>!</p>
      <p>Balance: <%= @current_user.balance%></p>
    <% end %>
  </body>
</html>
